{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'credential' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.page_title|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>

                    <th class="text-center">{{ 'ref'|trans }}</th>

                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for crd in crds %}
                    <tr>
                        <td class="text-left">{{ loop.index }}</td>

                        <td class="text-center">{{ crd.ref }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}