{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'credential' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages() }}

    <div class="content-sm">

        <h1>{{ flash_values.page_title|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('crd.add') }}" method="post" novalidate>

            <div class="form-group  {{ vld_style('ref') }}">
                <input class="form-group-item form-group-input" type="text" name="ref" value="{{ crd.ref }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'ref'|trans }}</span></label>
            </div>
            {{ vld_feedback('ref')|raw }}


             {{ vld_feedback('en')|raw }}

             {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('crd.show_all_paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'add_credential'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}